
/*
=============================================================
                            Body
=============================================================
*/

body{
  font-family: fantasy;
}

/*
=============================================================
                            Header
=============================================================
*/

header{
  border-radius: 12px;
  width: 100%;
  height: 95px;
  background: #d14657;
}

img#logo{
  width: 7%;
  height: auto;
  position: absolute;
  left: 30px;
}

h1#titulo{
  display: inline-block;
  color: white;
  font-weight: bold;
  margin-right:50px;
}

nav{
  height: auto;
  text-align: center;
  display: inline-block;
  margin-left: 150px;
  margin-top: 10px;
}

a#pag{
  color: #ffffff;
  font-weight: bold;
  margin-right: 30px;
  padding: 30px;
}

a#pag:hover{
  color: #f96c07;
  background: #f7dbde;
  padding: 30px;
  border-radius: 12px;
}

/*
=============================================================
                            Footer
=============================================================
*/

div.foot{
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  width: 100%;
  height: 95px;
  background: #d14657;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
